<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net481" />
  <package id="Polly" version="5.3.1" targetFramework="net481" />
  <package id="Relativity.Server.DataTransfer.SDK" version="26000.0.7" targetFramework="net481" />
  <package id="Relativity.Server.Kepler.Client.SDK" version="5001.0.7" targetFramework="net481" />
  <package id="Relativity.Server.Kepler.SDK" version="5001.0.7" targetFramework="net481" />
  <package id="Relativity.Server.Logging.Interfaces.SDK" version="5005.0.1" targetFramework="net481" />
  <package id="Relativity.Server.Logging.SDK" version="5005.0.1" targetFramework="net481" />
  <package id="Relativity.Server.Services.DataContracts.SDK" version="5002.1.0" targetFramework="net481" />
  <package id="Relativity.Server.Services.Interfaces.SDK" version="5002.1.0" targetFramework="net481" />
  <package id="Relativity.Server.Transfer.SDK" version="26000.0.6" targetFramework="net481" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net481" />
</packages>